*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img{
    max-inline-size: 100%;
}
body{
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #070707;
    background: #fff;

    /*Use which ever works best for you*/
    min-block-size: 100vh;
    min-block-size: 100dvh;
    min-block-size: 100svh;

    display: grid;
    grid-template-columns: 
    [sidebar-start]
    5rem
    [sidebar-end sidebar-start]
    1fr
    [main-end];
}

h1{
    
}